<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{% block og_title %}{% endblock %}" />

    {% if post %}
        <meta property=“og:type” content=“article” />
    {% else %}
        <meta property="og:type" content="website" />
    {% endif %}

    <meta property="og:url" content="https://asko.dev{% if post %}/blog/{{ post.data.slug }}{% endif %}" />
    <title>{% block title %}{% endblock %} - Asko Nõmm</title>
    <link rel="alternate" type="application/atom+xml" href="https://asko.dev/feed.xml" title="Asko Nõmm ATOM Feed" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Inter:wght@500;700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script defer data-domain="asko.dev" src="https://plausible.io/js/script.js"></script>
    <style>
        *, *:before, *:after {
            box-sizing: border-box;
            list-style: none;
            position: relative;
            padding: 0;
            margin: 0;
        }

        body {
            font-family: "Merriweather", serif;
            font-size: 15px;
            line-height: 1.75;
            letter-spacing: -0.1px;
            max-width: 575px;
            margin: 50px;
        }

        @media all and (max-width: 675px) {
            body {
                width: 100%;
                padding: 30px;
                margin: 0;
            }
        }

        h1 {
            font-family: "Inter", sans-serif;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 30px;
        }

        h1 a {
            color: #fff;
            text-decoration: none;
            background: #111;
            padding: 2px 4px;
        }

        code {
            font-family: "Courier Prime", monospace;
            font-size: 14px;
            background: #eee;
            padding: 2px 4px;
        }

        pre {
            width: calc(100% + 50px);
            background: #eee;
            padding: 10px 20px;
            overflow: auto;
            margin-left: -50px;
            margin-bottom: 30px;
        }

        @media all and (max-width: 675px) {
            pre {
                width: calc(100% + 60px);
                padding: 30px;
                margin-left: -30px;
            }
        }

        pre code {
            padding: 0;
        }

        p {
            margin-bottom: 30px;
        }

        h2 {
            font-size: 22px;
            line-height: 1.25;
            margin-top: 60px;
            margin-bottom: 25px;
        }

        h2 code {
            font-size: inherit;
            font-weight: 400;
        }

        h2.post-title {
            font-family: "Inter", sans-serif;
            font-size: 28px;
            font-weight: 700;
            letter-spacing: -1px;
            margin-top: 0;
        }

        h2.post-title a {
            color: #111;
            text-decoration: none;
        }

        img {
            width: 100%;
            height: auto;
        }

        hr {
            width: calc(100% + 50px);
            border: 0;
            border-top: 2px solid #ddd;
            margin: 0;
            margin-left: -50px;
            margin-bottom: 30px;
        }

        @media all and (max-width: 675px) {
            hr {
                width: calc(100% + 60px);
                margin-left: -30px;
            }
        }

        .date {
            font-family: "Inter", sans-serif;
            font-size: 13px;
            color: #999;
            margin-top: -15px;
            margin-bottom: 30px;
        }

        .posts {
            margin-bottom: 80px;
        }

        .posts li {
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 30px;
            margin-bottom: 20px;
        }

        .posts li:last-child {
            margin-bottom: 0;
        }

        .posts li a {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .posts li span {
            font-family: "Inter", sans-serif;
            font-size: 12px;
            color: #bbb;
            line-height: 1;
            align-self: baseline;
            margin-top: 7px;
        }

        .entry h2 {
            font-family: "Inter", sans-serif;
        }

        .entry ul {
            margin-bottom: 30px;
        }

        .entry ul li {
            list-style: square;
            margin-left: 16px;
            margin-bottom: 10px;
        }

        .entry ul > li:last-child {
            margin-bottom: 0;
        }

        .projects {
            margin-bottom: 80px;
        }

        .projects li {
            margin-bottom: 30px;
        }

        .projects li:last-child {
            margin-bottom: 0;
        }

        .projects li h3 {
            font-size: 17px;
            font-weight: 400;
            margin-bottom: 8px;
        }

        .projects li h3 span span {
            font-family: "Inter", sans-serif;
            font-size: 13px;
            background: #eee;
            padding: 2px 4px;
            margin-left: 10px;
        }

        .projects li h3 span span[data-lang="PHP"] {
            color: #fff;
            background: #7A86B8;
        }

        .projects li h3 span span[data-lang="Clojure"],
        .projects li h3 span span[data-lang="ClojureScript"] {
            color: #111;
            background: #5cc70c;
        }

        .projects li h3 span span[data-lang="Rust"] {
            color: #fff;
            background: #a72145;
        }

        .projects li p {
            font-size: 14px;
        }

        .footer {
            font-family: "Inter", sans-serif;
            color: #999;
            font-size: 13px;
            margin-top: 60px;
        }

        .availability {

        }

        .availability h3 {
            font-size: 12px;
            text-transform: uppercase;
            font-family: "Inter", sans-serif;
            font-weight: 400;
            color: #111;
            letter-spacing: .5px;
            margin-bottom: 10px;
        }

        .availability .months {
            display: flex;
            gap: 5px;
        }

        @media all and (max-width: 675px) {
            .availability .months {
                width: calc(100% + 60px);
                gap: 0;
                margin-left: -30px;
            }
        }

        .availability .month {
            width: calc(100% / 12);
            line-height: 1.25;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Inter", sans-serif;
            font-size: 10px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 700;
            text-align: center;
            background: #136f63;
            padding-top: 4px;
            padding-bottom: 4px;
        }

        @media all and (max-width: 675px) {
            .availability .month {
                font-size: 9px;
            }
        }

        .availability .month.past {
            color: #666;
            background: #eee;
            pointer-events: none;
            text-decoration: none;
        }

        .availability .month .fill {
            height: 100%;
            background: #d00000;
            position: absolute;
            top: 0;
            left: 0;
        }

        .availability .month .percentage {
            font-weight: 400;
        }
    </style>
</head>
<body>

    <h1><a href="/">Asko Nõmm</a></h1>

    {% block content %}{% endblock %}

    <div class="footer">
        &copy 2023 Asko Nõmm.
    </div>

</body>
</html>