{% extends "layout.html.tera" %}

{% block title %}{{ post.data.title }}{% endblock %}

{% block content %}
    <h1><a href="/">Asko Nõmm</a></h1>

    <div class="post">
        <h2>{{ post.data.title }}</h2>
        <div class="date">{{ post.data.date }}</div>
        <div class="entry">{{ post.data.content }}</div>
    </div>
{% endblock %}